@media screen and (max-width: 1025px) {
    .nav_list_icon img{
        position: absolute;
        left: 23px;
        top: 6px;
        width: 45px;
        height: 45px;
    }
    .nav_list{
        font-family: 'BitterBold';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
    
    }
    .nav_list_general{
        position: absolute;
        left: 114px;
        top: 52px;
    }

    .nav_list_excursions{
        position: absolute;
        left: 220px;
        top: 52px;
    }

    .nav_list_animals{
        position: absolute;
        left: 345px;
        top: 52px;
    }
    
    .nav_list_call{
        position: absolute;
        left: 471px;
        top: 52px;
    }

    .nav_list_tel_logo {
        position: absolute;
        left: 812px;
        top: 45px;
    }
    .nav_list_tel_logo img{
        position: absolute;
        width: 24px;
        height: 24px;
    }
    
    .nav_list_number{
        position: absolute;
        left: 862px;
        top: 52px;
        color: #FFFFFF;
    }

    .nav_invite{
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 400;
        color: #FFFFFF;
        align-items: center;
    }
    
    
    .nav_list_invite{
        position: absolute;
        width: 404px;
        height: 147px;
        left: 318px;
        top: 260px;
        font-size: 32px;
        line-height: 40px;
        display: flex;

        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;


    }
    
    .nav_list_zoo{
        position: absolute;
        width: 404px;
        height: 147px;
        left: 406px;
        top: 341px;
        font-size: 40px;
        line-height: 50px;
        display: flex;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;

    }
    .nav_list_link{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 487px;
        top: 515px;
        list-style-type: none;
    
    }

    .exc_title{

        position: absolute;

        width: 320px;
        height: 65px;
        left: 342px;
        top: 987px;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        text-transform: uppercase;

    }

    .exc_text{
        position: absolute;
        width: 942px;
        height: 68px;
        left: 42px;
        top: 1104px;
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center; }
    
    .exc_more{
        position: absolute;
        width: 942px;
        height: 49px;
        left: 42px;
        top: 1183px;

        font-family: 'Bitter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    .animals_title{
        position: absolute;
        left: 354px;
        top: 1395px;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
    }
    .animals{

        font-family: 'BitterBold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }
    .an_tiger{
        left: 41px;
        top: 1577px;
        list-style-type: none;
    }
    .an_tiger img{
    position: absolute;
    width: 392px;
    height: 244px;}

    .an_tig_text{
        position: absolute;
        width: 146px;
        height: 26px;
        left: 123px;
        top: 243px;
        line-height: 19px;
        text-align: center;
    }

    .an_kobra{
        position: absolute;
        left: 592px;
        top: 1577px;
        list-style-type: none;
    }
    .an_kobra img{
        width: 392px;
        height: 244px;}

    .an_kob_text{
        position: absolute;
        width: 181px;
        height: 26px;
        left: 133px;
        top: 243px;
        line-height: 19px;
        text-align: center;
    }
    .an_dolphin{
        left: 40px;
        top: 1911px;
        list-style-type: none;
    }
    .an_dolphin img{ 
        position: absolute;
        width: 392px;
        height: 244px;}

    .an_dol_text{
        position: absolute;
        width: 164px;
        height: 42px;
        left: 114px;
        top: 243px;
        line-height: 19px;
        text-align: center;
    }

    .an_kazuar{
        left: 592px;
        top: 1911px;
        list-style-type: none;
    }
    .an_kazuar img{
        position: absolute;
        width: 392px;
        height: 244px;}

    .an_kaz_text{
        position: absolute;
        width: 84px;
        height: 23px;
        left: 154px;
        top: 241px;
        line-height: 19px;
        text-align: center;
    }
    .an_begemot{
        left: 40px;
        top: 2249px;
        list-style-type: none;
    }
    .an_begemot img{
        position: absolute;
        width: 392px;
        height: 244px;}
    .an_beg_text{
        position: absolute;
        width: 164px;
        height: 42px;
        left: 114px;
        top: 241px;
        line-height: 19px;
        text-align: center;
    }
    .an_ulitka{
        left: 593px;
        top: 2249px;
        list-style-type: none;
    }
    .an_ulitka img{
        position: absolute;
        width: 392px;
        height: 244px;}
    .an_ul_text{
        position: absolute;
        width: 101px;
        height: 42px;
        left: 145px;
        top: 241px;
        line-height: 19px;
        text-align: center;
    }
    .an_giraf{
        left: 41px;
        top: 2597px;
        list-style-type: none;
    }
    .an_giraf img{
        position: absolute;
        width: 392px;
        height: 244px;}

    .an_gir_text{
        position: absolute;
        width: 164px;
        height: 42px;
        left: 113px;
        top: 245px;
        line-height: 19px;
        text-align: center;
    }
    .an_sova{
        left: 592px;
        top: 2597px;
        list-style-type: none;
    }
    .an_sova img{
        position: absolute;
        width: 392px;
        height: 244px;}

    .an_sov_text{
        position: absolute;
        width: 150px;
        height: 42px;
        left: 121px;
        top: 245px;
        line-height: 19px;
        text-align: center;
    }
    .an_zebra{
        left: 316px;
        top: 2985px;
        list-style-type: none;
    }
    .an_zebra img{
        position: absolute;
        width: 392px;
        height: 244px;}

    .an_zeb_text{
        position: absolute;
        width: 110px;
        height: 42px;
        left: 141px;
        top: 239px;
        line-height: 19px;
        text-align: center;
    }


    .cont_title{
        position: absolute;
        left: 292px;
        top: 3405px;
        font-size: 50px;
    }
    .cont_question{
        position: absolute;
        left: 200px;
        top: 3576px;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    .con_mail{
        position: absolute;
        width: 300px;
        height: 70px;
        left: 200px;
        top: 3624px;
    }
    .con_number{
        position: absolute;
        width: 300px;
        height: 70px;
        left: 200px;
        top: 3714px;
    }
    
    .con_name{
        position: absolute;
        width: 300px;
        height: 70px;
        left: 200px;
        top: 3804px;
    }
    .con_question{
        position: absolute;
        width: 300px;
        height: 195px;
        left: 524px;
        top: 3681px;
    }
    .con_button{
        position: absolute;
        width: 379px;
        height: 69px;
        left: 316px;
        top: 3925px;
    }
    .Container{
        position: absolute;
        width: 800px;
        height: 600px;
        left: 110px;
        top: 4044px;
    }
    textarea{
        border-radius:0px;
    }
    .button{
        position: absolute;
        width: 383px;
        height: 71px;
        padding: 16px 117px;
        gap: 10px;
    }

    .fot_date{
        position: absolute;
        width: 54px;
        margin-left: -3px;
        margin-top: 1101px;
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .fot_sign{
        position: absolute;
        margin-top: 1101px;
        line-height: 18px;
        margin-left: -239px;
    }

}