.exc_title{
    position: absolute;
    left: 496px;
    top: 1129px;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}

.exc_text{
    position: absolute;
    width: 998px;
    height: 70px;
    left: 141px;
    top: 1239px;
    text-indent: 20px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.exc_more{
    position: absolute;
    width: 998px;
    height: 24px;
    left: 141px;
    top: 1330px;
   
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}