.animals{
    font-family: 'BitterBold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    list-style-type: none;
    margin-left: -3%;
    margin-top: 5%;  
    column-gap: 3%;
    row-gap: 4%;
    justify-items: center;
}