.con__number{
    width: 300px;
    height: 70px;
}

.number{
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin-left: 13%;
    margin-top: 13%;
    border: #FFFFFF;
    border-bottom: 2px solid #000000;
    padding-top: 15px;
    outline:none;
}

.number::placeholder{
    position: absolute;
    width: 51px;
    height: 19px;
    left: 0px;
    top: 19px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
    outline:none;
}