.cont__question{
    margin-top: 10%;
    margin-left: 3%;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}